@import "./fonts";
@import "./reset";
@import "./variables/global";

body {
  color: var(--text-black);
}

.bb__range-slider.range-slider {
  height: 4px;
  background-color: var(--brand-primary);
}

.bb__range-slider.range-slider .range-slider__range {
  background-color: var(--brand-primary);
}

.bb__range-slider.range-slider .range-slider__thumb {
  border: 6px solid var(--brand-primary);
  background-color: var(--bg-white);
  width: 24px;
  height: 24px;
}

.bb__range-slider .range-slider__thumb[data-lower] {
  border: none;
  width: 0;
}

.bb__range-slider .range-slider__range {
  border-radius: 6px;
}
