.bb__req_all_item {
  padding: 16px 24px;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--bg-grl);
  }

  & > a {
    display: grid;
    grid-template-columns: 140px 220px auto 120px;
    align-items: center;
    gap: 24px;

    @media only screen and (max-width: 1200px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &_more {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid var(--border-grey);
    font: var(--heading5);
    background-color: var(--bg-white);

    &:hover {
      background-color: var(--bg-grl);
    }
  }

  &_mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_date {
    font: var(--font-md);
    margin-right: 36px;

    @media only screen and (max-width: 768px) {
      font: var(--font-sm);
    }
  }

  &_req,
  &_res {
    font: var(--heading5);
  }

  &_res {
    @media only screen and (max-width: 768px) {
      font: var(--font-sm);
    }
  }

  &_res.green {
    color: var(--special-green);
  }

  &_res.red {
    color: var(--special-red);
  }

  &_res.orange {
    color: var(--special-orange);
  }

  &_res.grey {
    color: var(--text-grey);
  }
}
