.bb__container,
.bb__container--indent {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
  height: 100%;

  @media only screen and (max-width: 1400px) {
    padding: 0 28px 30px;
  }
}

.bb__container--indent {
  @media only screen and (max-width: 768px) {
    padding: 0 0 0 20px;
  }
}
