.bb__req_personal_item {
  flex: 1;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  transition: background-color ease 0.3s;

  &:hover {
    background-color: var(--bg-grl);
  }

  & > a {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_val {
    font: var(--heading5);
  }

  &_more {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid var(--border-grey);
    transition: background-color ease 0.3s;
    background-color: var(--bg-white);
    font: var(--heading6);

    &:hover {
      background-color: var(--bg-grl);
    }
  }
}
