:root {
  --font-family: Inter, system-ui, sans-serif;

  /*  TYPOGRAPHY */
  --text-size-sm: 14px;
  --text-line-sm: 20px;
  --font-sm: 400 var(--text-size-sm) / var(--text-line-sm) var(--font-family);

  --text-size-md: 16px;
  --text-line-md: 24px;
  --font-md: 400 var(--text-size-md) / var(--text-line-md) var(--font-family);

  --text-size-lg: 20px;
  --text-line-lg: 32px;
  --font-lg: 400 var(--text-size-lg) / var(--text-line-lg) var(--font-family);

  --h6-size: 14px;
  --h6-line: 20px;
  --heading6: 600 var(--h6-size) / var(--h6-line) var(--font-family);

  --h5-size: 16px;
  --h5-line: 24px;
  --heading5: 600 var(--h5-size) / var(--h5-line) var(--font-family);

  --h4-size: 20px;
  --h4-line: 28px;
  --heading4: 700 var(--h4-size) / var(--h4-line) var(--font-family);

  --h3-size: 24px;
  --h3-line: 32px;
  --heading3: 700 var(--h3-size) / var(--h3-line) var(--font-family);

  --h2-size: 36px;
  --h2-line: 48px;
  --heading2: 700 var(--h2-size) / var(--h2-line) var(--font-family);

  --h1-size: 48px;
  --h1-line: 56px;
  --heading1: 700 var(--h1-size) / var(--h1-line) var(--font-family);

  /* COLORS */
  --bg-black: ##0b1022;
  --bg-grey: ##e8e8e8;
  --bg-grl: #f4f4f4;
  --bg-white: #fff;
  --bg-bluish: #e2eaff;

  --text-black: #0b1022;
  --text-grey: #7d7d7d;
  --text-white: #fff;
  --text-brand: #064cff;
  --text-dark: #324a86;

  --brand-primary: #064cff;
  --brand-secondary: #0034b9;
  --brand-light: #edf3fc;

  --border-black: #0f0f0f;
  --border-grey: #e2e2e2;
  --border-dark: #343434;

  --icon-black: #0f0f0f;
  --icon-grey: #969696;
  --icon-white: #fff;
  --icon-brand: #064cff;

  --special-red: #e92c2c;
  --special-green: #17a53e;
  --special-orange: #ffa800;
}
