.bb__req_all_item {
  padding: 16px 24px;
  flex: 1;
  border: 1px solid var(--border-grey);
  border-radius: 8px;

  & > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_date {
    font: var(--font-md);
    margin-right: 36px;
  }

  &_req,
  &_res {
    font: var(--heading5);
  }

  &_res.green {
    color: var(--special-green);
  }

  &_res.red {
    color: var(--special-red);
  }

  &_res.orange {
    color: var(--special-orange);
  }

  &_res.grey {
    color: var(--text-grey);
  }
}
