.bb__otp {
  &_container {
    margin: 0 auto;
    max-width: 304px;
    display: flex;
    gap: 24px;
  }

  &.bb__otp_bottom {
    margin-bottom: 56px;
  }

  &_input {
    font:
      400 24px/32px "Inter",
      sans-serif;
    border: none;
    border-bottom: 2px solid var(--border-grey);
    width: 100%;
    padding: 0;
    text-align: center;
    outline: none;

    &--wrong {
      border-bottom: 2px solid var(--special-red);
    }
  }
}
