.bb__req_loans {
  &_wrapper {
    flex: 1;

    & > h2 {
      font:
        700 28px/32px "Inter",
        sans-serif;
      margin-bottom: 24px;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
