.bb__sb {
  margin-bottom: 36px;
  max-width: 224px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &_mobile {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(5, min-content);
    padding: 2px;
    border: 1px solid var(--border-grey);
    background-color: var(--bg-grl);
    border-radius: 6px;
    max-width: 606px;

    &_wrapper {
      display: none;

      @media only screen and (max-width: 900px) {
        width: 100vw;
        overflow-x: auto;
        overflow-y: hidden;
        cursor: grab;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: -30px;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &_inner {
      display: grid;
      grid-template-columns: auto 30px;
      transform: translateX(30px);
    }
  }
}
