.bb__checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-white);
  margin: 0;
  font: inherit;
  width: 16px;
  height: 16px;
  border: 2px solid var(--brand-primary);
  border-radius: 3px;
  display: grid;
  place-content: center;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    box-shadow: inset 16px 16px var(--bg-white);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked {
    background-color: var(--brand-primary);
  }

  &:checked:before {
    transform: scale(1);
  }
}
