.bb__pa {
  margin: 44px 0;
  padding: 48px;
  border-radius: 12px;
  background-color: var(--brand-light);

  &_wrapper {
    display: flex;
  }

  &_img,
  &_details {
    flex: 1;
  }

  &_details {
    & > h3 {
      font:
        700 28px/32px "Inter",
        sans-serif;
      margin-bottom: 36px;
    }

    & > ul {
      margin-bottom: 36px;
    }

    & li {
      display: flex;
      align-items: center;
      gap: 12px;

      & > span:first-child {
        width: 36px;
        height: 36px;
        background-color: var(--bg-white);
        border-radius: 50%;
        display: grid;
        place-items: center;
      }

      & > span:last-child {
        font: var(--font-md);
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &_link {
      padding: 12px 20px;
      border-radius: 8px;
    }
  }
}
