.bb__otp {
  &_wrapper {
    display: flex;
    flex-direction: column;
    font: var(--font-md);
    align-items: center;

    & > p:last-child {
      padding-top: 8px;
      display: flex;
      gap: 8px;
    }

    & button {
      color: var(--brand-primary);
      font: var(--font-md);

      &:hover {
        text-decoration: underline;
        background: none;
      }
    }
  }

  &_error {
    color: var(--special-red);
    margin-block-start: 10px;
    text-align: center;
  }

  &_inner {
    margin-bottom: 56px;
  }
}
