.bb__req_doc {
  flex: 1;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--bg-grl);
  }

  & > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }

  &_wrap {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(%23clip0_11254_1015)"><path d="M17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V5C19 3.89543 18.1046 3 17 3Z" stroke="%23969696" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 7H15" stroke="%23969696" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 11H15" stroke="%23969696" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 15H13" stroke="%23969696" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_11254_1015"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
  }

  &_caption {
    font: var(--heading5);
  }

  & button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    font: var(--heading6);

    & > span {
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.69922 15.2998C2.69922 14.8027 3.10216 14.3998 3.59922 14.3998H14.3992C14.8963 14.3998 15.2992 14.8027 15.2992 15.2998C15.2992 15.7969 14.8963 16.1998 14.3992 16.1998H3.59922C3.10216 16.1998 2.69922 15.7969 2.69922 15.2998ZM5.66282 8.36341C6.01429 8.01194 6.58414 8.01194 6.93561 8.36341L8.09922 9.52701V2.6998C8.09922 2.20275 8.50216 1.7998 8.99922 1.7998C9.49627 1.7998 9.89922 2.20275 9.89922 2.6998L9.89922 9.52701L11.0628 8.36341C11.4143 8.01194 11.9841 8.01194 12.3356 8.36341C12.6871 8.71488 12.6871 9.28473 12.3356 9.6362L9.63561 12.3362C9.46683 12.505 9.23791 12.5998 8.99922 12.5998C8.76052 12.5998 8.53161 12.505 8.36282 12.3362L5.66282 9.6362C5.31135 9.28473 5.31135 8.71488 5.66282 8.36341Z" fill="%23FFFFFF"/></svg>');
    }
  }
}
