.bb__navlink_mobile_wrap {
  & > a {
    display: inline-block;
    padding: 6px 12px;
    font: var(--heading6);
    white-space: nowrap;

    &.active {
      background-color: var(--brand-primary);
      border-radius: 6px;
      color: var(--bg-white);
    }
  }
}
