.bb__req_loans_item {
  flex: 1;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--bg-grl);
  }

  & > a {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &_info {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
    }

    @media only screen and (max-width: 768px) {
      display: block;
      margin-bottom: 12px;
    }

    &_loan {
      font: var(--heading5);
      margin-right: 32px;
    }

    &_refund {
      font: var(--heading6);
      margin-right: 16px;
    }

    &_term {
      font: var(--font-sm);
    }
  }

  &_refund {
    display: flex;
    gap: 8px;
    align-items: center;

    @media only screen and (max-width: 768px) {
      border-top: 1px solid var(--border-grey);
      padding-top: 12px;
    }

    &_more {
      padding: 6px 12px;
      border-radius: 8px;
      border: 1px solid var(--border-grey);
      transition: background-color 0.3s ease;
      background-color: var(--bg-white);

      &:hover {
        background-color: var(--bg-grl);
      }
    }

    & > a {
      padding: 6px 12px;
    }
  }
}
