.bb__input_mask_tel {
  position: relative;

  & > span {
    position: absolute;
    top: 13px;
    left: 12px;
    font: var(--font-md);
  }

  & > input {
    width: 100%;
    padding: 12px 12px 12px 38px;
    margin-bottom: 24px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--border-grey);
    font: var(--font-md);

    &:placeholder {
      font: var(--font-md);
      color: var(--text-grey);
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 200px;
    }
  }
}
