.bb__applying_result {
  max-width: 452px;
  width: 100%;
  margin: 0 auto;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 768px) {
    padding: 40px 0;
    max-width: 100%;
  }

  &_icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--brand-light);
    margin-bottom: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z" fill="%23064CFF"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 6C12.5523 6 13 6.44772 13 7V11.5858L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L11.2929 12.7071C11.1054 12.5196 11 12.2652 11 12V7C11 6.44772 11.4477 6 12 6Z" fill="%23064CFF"/></svg>');

    @media only screen and (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  & > h2 {
    font: var(--heading2);
    margin-bottom: 12px;

    @media only screen and (max-width: 768px) {
      text-align: center;
      font:
        700 28px/32px "Inter",
        sans-serif;
    }
  }

  & > p {
    font: var(--font-md);
    margin-bottom: 36px;
    text-align: center;
  }

  & > a {
    padding: 12px 20px;
    font: var(--heading5);

    @media only screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }
}
