.bb__accordion_item {
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  padding: 24px;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    padding: 16px;
  }

  &_question {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_title {
    font: var(--heading4);

    @media only screen and (max-width: 768px) {
      font: var(--heading5);
    }
  }

  &_answer_wrap {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
  }

  &_answer {
    font: var(--font-lg);
    padding-top: 12px;

    @media only screen and (max-width: 768px) {
      font: var(--font-md);
    }
  }
}
