.bb__requirement {
  padding: 44px 0;

  & > h2 {
    font:
      700 28px/32px "Inter",
      sans-serif;
    margin-bottom: 36px;
  }

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
