.bb__conditions {
  padding: 88px 0 44px;

  @media only screen and (max-width: 768px) {
    padding: 56px 0 27px;
  }

  & > h2 {
    font:
      700 28px/32px "Inter",
      sans-serif;
    margin-bottom: 12px;
    text-align: center;

    @media only screen and (max-width: 768px) {
      font: var(--heading3);
    }
  }

  &_btns {
    border-radius: 8px;
    padding: 2px;
    background-color: var(--bg-grl);
    border: 1px solid var(--border-grey);
    margin-bottom: 24px;
    gap: 2px;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
    display: grid;
    grid-template-columns: repeat(4, min-content);

    &::-webkit-scrollbar {
      display: none;
    }

    & > button {
      padding: 6px 12px;
      font: var(--heading6);
      white-space: nowrap;
      outline: none;
      border: 1px solid transparent;
    }

    &_wrap {
      display: flex;
      justify-content: center;
    }
  }

  &_cards {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
  }
}
