.bb__conditions {
  padding: 88px 0 44px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 768px) {
    padding: 56px 0 27px;
  }

  & > h2 {
    font:
      700 28px/32px "Inter",
      sans-serif;
    margin-bottom: 12px;

    @media only screen and (max-width: 768px) {
      font: var(--heading3);
    }
  }

  &_btns {
    border-radius: 8px;
    padding: 2px;
    background-color: var(--bg-grl);
    border: 1px solid var(--border-grey);
    margin: 24px;

    & > button {
      padding: 6px 12px;
      font: var(--heading6);

      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }

  &_cards {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
  }
}
