.bb__header {
  height: 76px;
  box-shadow: 0px 0px 4px 0px rgba(7, 12, 19, 0.2);

  &.bb__simple,
  &.bb__req {
    box-shadow: none;
  }

  @media only screen and (max-width: 768px) {
    height: 80px;
  }
}

.bb__main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &.bb__simple {
    @media only screen and (max-width: 768px) {
      justify-content: center;
    }
  }

  &_hamburger {
    border-radius: 8px;
    background-color: var(--brand-primary);
  }

  &_logo {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &_logo_btns {
    border-radius: 8px;
    padding: 1px;
    background-color: var(--bg-grl);
    border: 1px solid var(--border-grey);

    &.mobile {
      margin-bottom: 36px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    & > a {
      padding: 6px 12px;
      border-radius: 6px;
      font: var(--heading6);

      &:first-child {
        margin-right: 2px;
      }
    }
  }

  &_action_id {
    display: flex;
    align-items: center;
    margin-right: 48px;

    & > span:first-child {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4ZM7 7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7C17 9.76142 14.7614 12 12 12C9.23858 12 7 9.76142 7 7ZM6.08296 20H17.917C17.441 17.1623 14.973 15 12 15C9.027 15 6.55904 17.1623 6.08296 20ZM4 21C4 16.5817 7.58172 13 12 13C16.4183 13 20 16.5817 20 21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21Z" fill="%23969696"/></svg>');
    }

    & > span:last-child {
      white-space: nowrap;
      font: var(--font-md);
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &_action_btns {
    display: flex;
    align-items: center;
    gap: 8px;

    &.bb__simple {
      & > a {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    &.mobile {
      flex-direction: column;
      gap: 12px;

      & > a {
        align-self: stretch;
        text-align: center;
        padding: 12px 20px;
      }
    }

    & > a {
      padding: 7px 12px;
      font: var(--heading6);
    }

    & > a:last-child {
      padding: 8px 12px;
    }
  }
}

.bb__icon {
  &_telegram,
  &_whatsapp {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_telegram {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.6612 3.24982C21.9416 3.49699 22.0608 3.87991 21.9701 4.24255L17.9701 20.2426C17.8828 20.5921 17.6141 20.8676 17.2669 20.9637C16.9197 21.0599 16.5476 20.9619 16.2929 20.7071L12.1082 16.5224L9.80001 19.6C9.57684 19.8976 9.20697 20.0467 8.83982 19.9871C8.47268 19.9275 8.16894 19.6691 8.05132 19.3162L6.18231 13.7092L2.55279 11.8944C2.19901 11.7176 1.98274 11.3488 2.00108 10.9537C2.01942 10.5585 2.26892 10.2114 2.63756 10.068L20.6376 3.06801C20.9859 2.93253 21.3808 3.00266 21.6612 3.24982ZM12.7193 14.3051C12.7119 14.2975 12.7044 14.2899 12.6967 14.2825L12.4142 14L15.7071 10.7071C16.0976 10.3166 16.0976 9.68343 15.7071 9.29291C15.3166 8.90239 14.6834 8.90239 14.2929 9.29291L10.2929 13.2929C9.90237 13.6834 9.90237 14.3166 10.2929 14.7071L10.6796 15.0939L9.34515 16.8732L7.94869 12.6838C7.86482 12.4322 7.68444 12.2242 7.44722 12.1056L5.46487 11.1144L19.5611 5.63255L16.4582 18.044L12.7193 14.3051Z" fill="%23064CFF"/></svg>');
  }

  &_whatsapp {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.1995 5.92993C15.7171 4.66554 13.8242 3.98559 11.8761 4.01769C9.92799 4.04979 8.05855 4.79174 6.61862 6.10429C5.17869 7.41683 4.26726 9.20976 4.05537 11.1466C3.84348 13.0834 4.34569 15.031 5.46777 16.6238C5.66862 16.9089 5.70642 17.2781 5.56752 17.598L4.65994 19.6882L7.8748 19.1152C8.08383 19.078 8.2993 19.1082 8.49 19.2016C10.2399 20.0584 12.2423 20.2471 14.1215 19.7324C16.0006 19.2176 17.6273 18.0348 18.6963 16.4058C19.7653 14.7769 20.2031 12.8138 19.9275 10.885C19.6519 8.95625 18.6819 7.19433 17.1995 5.92993ZM2.88385 21.9932C2.98681 22.0053 3.08978 22.001 3.18929 21.9818L7.91332 21.1399C10.0271 22.0886 12.4086 22.2752 14.6498 21.6613C16.9988 21.0179 19.0322 19.5393 20.3684 17.5031C21.7046 15.467 22.2519 13.0131 21.9074 10.6021C21.5629 8.19116 20.3504 5.98876 18.4974 4.40826C16.6444 2.82777 14.2783 1.97783 11.8432 2.01796C9.40801 2.05809 7.07121 2.98552 5.2713 4.62621C3.47139 6.26689 2.33209 8.50805 2.06723 10.9291C1.82315 13.1601 2.33712 15.4026 3.51695 17.299L2.08849 20.5888C2.04676 20.6811 2.01881 20.7803 2.00679 20.8833C1.99225 21.007 2.00131 21.1306 2.03158 21.2483C2.06713 21.3874 2.13091 21.513 2.21558 21.6199C2.37846 21.8256 2.61865 21.9622 2.88385 21.9932Z" fill="%2317A53E"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.43959 7.93907C8.7209 7.65776 9.10243 7.49973 9.50025 7.49973C9.89808 7.49973 10.2796 7.65776 10.5609 7.93907C10.8422 8.22037 11.0003 8.6019 11.0003 8.99973V9.99973C11.0003 10.3975 10.8422 10.7791 10.5609 11.0604C10.4598 11.1615 10.3456 11.2468 10.2225 11.3144C10.4189 11.8788 10.7412 12.3975 11.1718 12.8282C11.6024 13.2588 12.1211 13.5811 12.6856 13.7775C12.7532 13.6543 12.8384 13.5402 12.9396 13.4391C13.2209 13.1578 13.6024 12.9997 14.0003 12.9997H15.0003C15.3981 12.9997 15.7796 13.1578 16.0609 13.4391C16.3422 13.7204 16.5003 14.1019 16.5003 14.4997C16.5003 14.8975 16.3422 15.2791 16.0609 15.5604C15.7796 15.8417 15.3981 15.9997 15.0003 15.9997H14.0003C12.409 15.9997 10.8828 15.3676 9.75761 14.2424C8.63239 13.1171 8.00025 11.591 8.00025 9.99973V8.99973C8.00025 8.6019 8.15829 8.22037 8.43959 7.93907Z" fill="%2317A53E"/></svg>');
  }
}

.bb__logo_wrap {
  width: 162px;
  height: 36px;
  flex-shrink: 0;

  & > button:hover {
    background-color: transparent;
  }
}

.bb__modal_nav {
  &_wrapper {
    width: 400px;
    padding: 24px;
    min-height: min-content;

    @media only screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
      padding: 56px 28px;
    }

    & > button {
      position: absolute;
      right: 12px;
      top: 12px;

      &:hover {
        background-color: transparent;
      }

      @media only screen and (max-width: 768px) {
        right: 20px;
        top: 20px;
      }

      & > span {
        height: 24px;
        width: 24px;
        display: inline-block;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="%23969696"/></svg>');
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h4 {
      font: var(--heading4);
      margin-bottom: 12px;
    }

    & > p {
      margin-bottom: 24px;
      font: var(--font-md);
    }
  }

  &_btns {
    display: flex;
    gap: 8px;
    align-self: flex-end;

    @media only screen and (max-width: 768px) {
      align-self: stretch;
    }

    & > button {
      padding: 12px 20px;
      font: var(--heading5);
      flex: 1;
    }
  }
}
