.bb__calc {
  padding: 72px 0px;
  background-color: var(--brand-light);

  &_content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &_intro {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url("../../../shared/assets/images/intro_car.png"),
      url('data:image/svg+xml,<svg width="428" height="428" viewBox="0 0 428 428" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M214 328C276.96 328 328 276.96 328 214C328 151.04 276.96 100 214 100C151.04 100 100 151.04 100 214C100 276.96 151.04 328 214 328ZM214 428C332.189 428 428 332.189 428 214C428 95.8111 332.189 0 214 0C95.8111 0 0 95.8111 0 214C0 332.189 95.8111 428 214 428Z" fill="url(%23paint0_linear_10893_2550)"/><defs><linearGradient id="paint0_linear_10893_2550" x1="380" y1="69.5" x2="-8.46776e-06" y2="370.5" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="%23EBF1FA"/></linearGradient></defs></svg>');
    background-repeat: no-repeat, no-repeat;
    background-position:
      -76px 69%,
      76% center;
    background-size: 100%, 53%;
    min-height: 592px;

    & > h1 {
      font: var(--heading1);
      margin-bottom: 12px;
    }

    & > p {
      font: var(--font-md);
      margin-bottom: 134px;
    }

    &_footer {
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 98px;

      & dd {
        font: var(--heading4);
        color: var(--brand-primary);
      }

      & dt {
        font: var(--font-md);
      }
    }
  }

  &_form {
    flex-basis: 512px;
    background-color: var(--bg-white);
    padding: 36px;
    border-radius: 12px;
  }
}
