.bb__applying {
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;

    @media screen and (max-width: 768px) {
      padding: 0 0 24px;
    }

    & > h2 {
      font: var(--heading2);

      @media screen and (max-width: 768px) {
        font:
          700 28px/32px "Inter",
          sans-serif;
      }
    }

    &_line {
      height: 1px;
      background-color: var(--border-grey);
    }
  }

  &_steps {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &_step {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--brand-light);
    color: var(--text-brand);
    font: var(--heading5);
    display: grid;
    place-items: center;

    &_line {
      width: 20px;
      height: 2px;
      background-color: var(--brand-light);
    }

    &.one,
    &.two,
    &.three {
      background-color: var(--brand-primary);
      color: var(--text-white);
    }
  }
}
