.bb__list_loan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;

  & > li {
    flex: 1;
  }

  & > li > button {
    padding: 12px 16px;
    font: var(--heading6);
    width: 100%;
  }
}
