.bb__calc_intro_footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 98px;
  gap: 20px;

  @media only screen and (max-width: 1200px) {
    padding-right: 0px;
    margin-top: 40px;
    gap: 100px;
  }

  @media only screen and (max-width: 820px) {
    gap: 20px;
  }

  @media only screen and (max-width: 650px) {
    gap: 10px;
    padding: 0 28px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 28px;
  }

  & dd {
    font: var(--heading4);
    color: var(--brand-primary);

    @media only screen and (max-width: 650px) {
      font: var(--heading5);
    }
  }

  & dt {
    font: var(--font-md);
    white-space: nowrap;

    @media only screen and (max-width: 650px) {
      white-space: normal;
      font: var(--font-sm);
    }
  }
}
