.bb__hit_card {
  padding: 24px;
  background-color: var(--brand-light);
  border-radius: 8px;

  @media only screen and (max-width: 768px) {
    padding: 20px;
  }

  &_number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--text-white);
    background-color: var(--brand-primary);
    font: var(--heading5);
    margin-bottom: 16px;
  }

  &_title {
    font: var(--heading4);
    margin-bottom: 8px;
  }

  &_text {
    font: var(--font-md);
  }
}
