.bb__req_profile {
  &_wrapper {
    flex: 1;

    & > h2 {
      font:
        700 28px/32px "Inter",
        sans-serif;
      margin-bottom: 24px;

      @media only screen and (max-width: 768px) {
        font: var(--heading3);
        margin-bottom: 16px;
      }
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
  }

  &_footer {
    display: flex;
    align-items: center;
    gap: 8px;
    font: var(--font-md);
    color: var(--text-grey);

    & > input[type="checkbox"]:checked + label {
      color: var(--text-brand);
    }

    & > label,
    & > input[type="checkbox"] {
      cursor: pointer;
    }
  }
}
