.bb__requirement_card {
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 48px;

  & > span {
   font: var(--heading3);
  }
}
