.bb__req_profile_item {
  flex: 1;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--bg-grl);
  }

  & > a {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &_wrap {
    display: flex;
    align-items: center;
    gap: 36px;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }

  &_val {
    width: 184px;
    font: var(--heading5);
  }

  &_caption {
    white-space: nowrap;
    font: var(--font-md);
  }

  &_more {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid var(--border-grey);
    font: var(--heading6);
    background-color: var(--bg-white);

    &:hover {
      background-color: var(--bg-grl);
    }
  }
}
