.bb__req_personal_passport {
  &_wrapper {
    flex: 1;
    max-width: 472px;

    & > h2 {
      font:
        700 28px/32px "Inter",
        sans-serif;
      margin-bottom: 24px;
    }
  }

  &_inner {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid var(--border-grey);

    & > h4 {
      font: var(--heading4);
    }

    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > dl {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      & dt {
        font: var(--font-sm);
        color: var(--text-grey);
      }

      & dd {
        font: var(--font-md);
      }

      &:nth-child(4) {
        & dd {
          font: var(--heading5);
        }
      }
    }
  }
}
