.bb__conditions_card {
  flex: 1;
  display: grid;
  place-items: center;
  font: var(--heading5);
  padding: 38px 24px;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  white-space: nowrap;

  @media only screen and (min-width: 768px) {
    padding: 24px;
  }
}
