.bb__conditions_card {
  flex: 1;
  display: grid;
  place-items: center;
  font: var(--heading5);
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  text-align: center;
  height: 100px;
  min-width: 300px;

  @media only screen and (max-width: 768px) {
    padding: 24px;
    height: auto;
  }
}
