.bb__req_loans_item {
  padding: 16px 24px;
  flex: 1;
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }

  &_date {
    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }

  &_info {
    display: flex;
    gap: 36px;

    @media only screen and (max-width: 768px) {
      display: block;
      margin-bottom: 12px;
    }

    &_dl {
      display: flex;
      flex-direction: column;
    }

    &_dt {
      font: var(--heading5);
    }

    &_dd > a {
      color: var(--text-brand);
      font: var(--font-md);

      @media only screen and (max-width: 768px) {
        font: var(--font-sm);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &_refund {
    display: flex;
    gap: 48px;

    @media only screen and (max-width: 768px) {
      border-top: 1px solid var(--border-grey);
      padding-top: 12px;
      gap: 0;
      justify-content: space-between;
    }

    &_dl {
      display: flex;
      flex-direction: column;
    }

    &_dt {
      font: var(--heading5);
    }

    &_dd {
      font: var(--font-md);

      @media only screen and (max-width: 768px) {
        font: var(--font-sm);
      }
    }

    & > a {
      padding: 12px 20px;
    }
  }

  &_date {
    font: var(--font-md);
  }
}
